.header-title{
    background-color: #dfdfdf;
    padding: 3px;
    font-family: "Palatino Linotype", "Book Antiqua", serif;
}

div input{
    width: 80%;
    padding: 3px;
}

div button{
    padding: 4px;
}