body{
  background-color: black;
}
.counter-div{
  background-color: #fcfff7;
  margin: auto;
  margin-top: 70px;
  padding: 20px;
  width: 500px;
  height: 200px;
  border: 1px solid black;
}

h1{
  text-align: center;
}

button{
  padding: 10px;
}

.inc{
  background-color: green;
  color: white;
}

.dec{
  background-color: red;
  color: white;
}

